
	<h1>小类管理</h1>
	<div class="FilterMenu">
		<a href="/admin/topic_categories/new" class="SmallButton">添加小类</a>
	</div>
	<h1>小类列表</h1>
	<ol class="Sortable ui-sortable">
		<% @nodes.each do |node| %>
		<li id="list_1" style="opacity: 1; z-index: 0; " class="">
			<div>
				<table>
					<tbody>
						<tr>
							<td>
								<strong><%= node.name %></strong>	
							</td>
						</tr>
					</tbody>
				</table>
			</div>
			<ol class="Sortable ui-sortable">
				<% node.topic_categories.each do |category| %>
				<li id="list_1" style="opacity: 1; z-index: 0; " class="">
					<div>
						<table>
							<tbody>
								<tr>
									<td>
										<strong><%= category.name %></strong>
										<a href="/categories/<%= category.url %>">/categories/<%= category.url %></a>
										<blockquote><%= category.description %></blockquote>		
									</td>
									<td class="Buttons">
										<a href="<%= edit_admin_topic_category_path(category) %>" class="SmallButton">修改</a>
										<%= link_to '删除', admin_topic_category_path(category), :confirm => '确认要删除吗?', :method => :delete, :class => "SmallButton" %>
									</td>
								</tr>
							</tbody>
						</table>
					</div>
				</li>
				<% end %>
			</ol>
		</li>
		<% end %>
	</ol>