
<div id="Content">
	<div class="Tabs">
		<ul>
            <li class="Active"><a href="/topics">活跃帖子</a></li>
		</ul>
		<div class="SubTab"><span class="FirstCrumb">↳ </span><%= @topic_category.name %></div>
	</div>
	<ul class="DataList">
		<% @topics.each do |topic| %>
		<li class="Item">
			<div class="ItemContent">
				<a href="<%= topic.show_url %>" class="Title"><%= topic.title %></a>
				<div class="Meta">
					<span class="Tags">
						<%= simple_format(topic.tags.split("，").map{|t|"<a href='/'>#{t}</a>"}.join()).gsub("<p>","").gsub("<\/p>","") %>
					</span>
					<span class="CommentCount">1 评论</span>
					<span class="LastCommentBy"><a href="<%= topic.user.show_url %>"><%= topic.user.username %></a> 发布于</span>
					<span class="LastCommentDate"><%= topic.created_at.strftime("%m-%d") %></span>
					<span><a href="<%= topic.topic_category.show_url %>" class="Category"><%= topic.topic_category.name %></a></span>
				</div>
			</div>
		</li>
		<% end %>
	</ul>
	<div class="TopicsMore">
		<%= will_paginate @topics %>
	</div>
</div>
<div id="Panel">
	<%= render "/partials/topics_side" %>
</div>
