<div id="NewForm">
	<h2>发新帖</h2>
	
	<%= form_for(@topic) do |f| %>	
		<div class="field">
			<label for="topic_topic_category">分类：</label><br />
			<select name="topic[topic_category_id]" id="topic_topic_category_id">
				<%= option_groups_from_collection_for_select @nodes, :topic_categories, :name, :id, :name %>
			</select>
		</div>
		<div class="field">
			<label for="topic_title">标题：</label><br />
			<%= f.text_field :title, :class => "InputBox" %>
		</div>
		<div class="field">
			<label for="topic_content">内容：</label><br />
			<%= f.text_area :content, :id => "kindeditor", :style => "width:100%;height:200px;" %>
		</div>
		<div class="field">
			<label for="topic_tags">标签：</label><br />
			<%= f.text_field :tags, :class => "InputBox" %>
		</div>
		<div class="actions">
			<%= f.submit :value => " 发布 ", :class => "Button" %>
		</div>
	<% end %>
</div>