<div id="Content">
	<div class="Tabs HeadingTabs DiscussionTabs">
		<ul>
			<% if !session[:user_id].nil? && session[:user_id]==@topic.user_id %><li><%= link_to '编辑', edit_topic_path(@topic) %></li><% end %>
		</ul>
		<div class="SubTab"><%= @topic.title %></div>
	</div>
	<ul class="MessageList Discussion">
		<li class="Item Comment Mine" id="Discussion_1">
			<div class="Comment">
				<div class="Meta">
					<span class="Author">
						<a href="<%= @topic.user.show_url %>"><%= @topic.user.username %></a>
					</span>
					<span class="DateCreated"><%= @topic.created_at.strftime("%m-%d") %></span>
					<span class="Permalink">
						Tags: <%= simple_format(@topic.tags.split("，").map{|b|"<a href='/' class='Permalink' rel='nofollow'>#{b}</a>"}.join("&nbsp;&nbsp;")).gsub("<p>","").gsub("<\/p>","") %>
					</span>
					<div class="CommentInfo">
					</div>
				</div>
				<div class="Message"><%= simple_format @topic.content %></div>
			</div>
		</li>
		<% @comments.each do |comment| %>
		<li class="Item Comment Mine" id="Discussion_1">
			<div class="Comment">
				<div class="Meta">
					<span class="Author">
						<a href="<%= comment.user.show_url if comment.user %>"><%= comment.user.username if comment.user %></a>
					</span>
					<span class="DateCreated"><%= comment.created_at.strftime("%m-%d") %></span>
					<div class="CommentInfo">
					</div>
				</div>
				<div class="Message"><%= simple_format comment.comment %></div>
			</div>
		</li>
		<% end %>
	</ul>
	<% if !session[:user_id].nil? %>
	<div class="MessageForm CommentForm">
		<div class="Tabs CommentTabs">
			<ul>
				<li class="Active"><a href="/discussion/1/test#" class="WriteButton">评论</a></li>
			</ul>
		</div>
		<%= form_for(Comment.new,:url => comment_topic_path(params[:id])) do |f| %>
			<div>
				<%= f.text_area :comment, :class => "TextBox", :id => "kindeditor", :style => "height:180px;" %>
				<div class="Buttons" style="opacity: 1; ">
					<a href="/topics" class="Back">返回查看所有帖子</a>
					<input type="submit" id="Form_PostComment" name="Comment/Post_Comment" value="提交评论" class="Button CommentButton">
				</div>
			</div>
		<% end %>
	</div>
	<% else %>
	<p style="margin-top:20px;"><a href="/reg">注册</a> 或 <a href="/login">登陆</a> 后发表评论</p>
	<% end %>
</div>
<div id="Panel">
	<%= render "/partials/topics_side" %>
</div>
