
	<h1>用户管理</h1>
	<div class="Info">
		<form action="/admin/users/index" method="post">
		<p>
			<input type="text" id="Form_Keywords" name="keyword" value="" class="InputBox">
			<input type="submit" id="Form_Go" name="Form/Go" value="Go" class="Button">
		</p>
		<% if params[:keyword] %>
		<p>搜索："<%= params[:keyword] %>"</p>
		<% end %>
		</form>
	</div>
	
	<form name="vbform" id="vbform" action="/admin/users/index" method="post">
	<table id="Users" class="AltColumns">
		<thead>
			<tr>
				<th>&nbsp;</th>
				<th>用户名</th>
				<th class="Alt">Email</th>
				<th>注册时间</th>
				<th class="Alt">最后登录</th>
				<th>操作</th>
			</tr>
		</thead>
		<tbody>
			<% @users.each do |user| %>
			<tr class="Alt">
				<td><input id="user_ids" name="user_ids[]" type="checkbox" value="<%= user.id %>"></td>
				<td><a href="<%= admin_user_path(user) %>"><strong><% if user.state==0 %><font color="#ff0000"><%= user.username %></font><% else %><%= user.username %><% end %></strong></a></td>
				<td class="Alt"><span class="Email"><%= user.email %></span></td>
				<td><%= user.created_at.strftime("%Y-%m-%d %H:%M") %></td>
				<td class="Alt"><%= user.updated_at.strftime("%Y-%m-%d %H:%M") %></td>
				<td>
					<a href="<%= admin_user_path(user) %>" class="SmallButton">查看</a>
					<%= link_to '删除', admin_user_path(user), :confirm => '确认要删除吗?', :method => :delete, :class => "SmallButton" %>
				</td>
			</tr>
			<% end %>
			<tr class="Alt">
				<td colspan="3">
					<input type="button" name="selectAll" value="全选" onclick="CheckAll(vbform,'user_ids[]');" class="SmallButton">
					<input type="button" name="selectOther" value="反选" onclick="CheckOthers(vbform,'user_ids[]');" class="SmallButton">
					<input type="submit" name="delete_all" value="全部删除" onclick="return checkForm(vbform);" class="SmallButton">
				</td>
				<td colspan="3">
					<%= will_paginate @users %>
				</td>
			</tr>
		</tbody>
	</table>
	</form>
	